<configuration>
    <property name="LOG_PATH" value="logs"/>
    <timestamp key="TIMESTAMP" datePattern="yyyyMMdd"/>

    <!--<conversionRule conversionWord="session"
                    converterClass="com.hkgov.ceo.pms.loggin.converter.SessionConverter"/>-->
    <!--  <conversionRule conversionWord="userId"
                      converterClass="com.hkgov.ceo.pms.loggin.converter.UserIdConverter"/>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>


    </appender>

    <appender name="fout" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_PATH}/%d{yyyyMMdd}-app.%i.log.zip
            </fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>2555</maxHistory> <!-- 7 years x 365 days/year = 2555 days -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- filter level -->
            <level>INFO</level>
            <!-- operation during matching: receive (record) -->
            <onMatch>ACCEPT</onMatch>
            <!-- action when there is a mismatch: reject (do not record) -->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/error.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_PATH}/%d{yyyyMMdd}-error.%i.log.zip
            </fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>2555</maxHistory> <!-- 7 years x 365 days/year = 2555 days -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="com.zaxxer.hikari.pool.PoolBase" level="INFO"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="INFO"/>
    <logger name="com.zaxxer.hikari.HikariDataSource" level="INFO"/>

    <logger name="org.docx4j" level="OFF"/>
    <logger name="org.docx4j.openpackaging" level="OFF"/>
    <logger name="o.d.model.fields" level="OFF"/>
    <logger name="com.deepoove" level="OFF"/>
    <logger name="org.apache.fop" level="OFF"/>


    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="fout"/>
        <appender-ref ref="error"/>
    </root>
</configuration>